<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>device_type_index</title>
</head>
<body>
    <table border="0" cellpadding="10" class="result_list">
            <colgroup>
                <col style="background-color:#E8E7E3">
                <col style="background-color:#F2F2F2">
                <col style="background-color:#E8E7E3">
                <col style="background-color:#F2F2F2">
                <col style="background-color:#E8E7E3">
                <col style="background-color:#F2F2F2">
                <col style="background-color:#E8E7E3">
            </colgroup>
            <tr>
                <th>设备类型一</th>
                <th>设备类型一英文名称</th>
                <th>设备类型一中文名称</th>
                <th>设备类型二</th>
                <th>设备类型二英文名称</th>
                <th>设备类型二中文名称</th>
                <th>描述</th>
            </tr>
            {% for device_type in device_types %}
            <tr>
                <td>{{ device_type.category }}</td>
                <td>{{ device_type.category_en_name }}</td>
                <td>{{ device_type.category_cn_name }}</td>
                <td>{{ device_type.type }}</td>
                <td>{{ device_type.type_en_name }}</td>
                <td>{{ device_type.type_cn_name }}</td>
                <td>{{ device_type.description }}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>