<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'display/others/icon/favicon.ico' %}">

    <title>物联网设备信息管理平台</title>

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'display/others/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'display/self_defined/css/home.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'display:getPage_search' %}">God's Eye</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="nav navbar-nav">
                        <li class="active nav_li" id="nav_search"><a href="{% url 'display:getPage_search' %}">搜索</a></li>
                        <li class="nav_li" id="nav_statistics"><a href="{% url 'display:getPage_statistic' %}">数据统计</a></li>
                        {% ifequal identity 'admin' %}
                        <li class="nav_li" id="nav_update"><a href="{% url 'display:getPage_update' %}">更新审查</a></li>
                        <li class="nav_li" id="nav_log"><a href="{% url 'display:getPage_managelog' %}">管理日志</a></li>
                        {% endifequal %}
                    </ul>
                </div>
                <div class="col-sm-2" id="login_out" >
                    {% ifequal identity 'admin' %}
                    <a id="bt_logout">退出</a>
                    {% else %}
                    <a id="bt_login">登录</a>
                    {% endifequal %}
                </div>
            </div>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="container" id="main_container">

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-12">
            {% block main_container %}

            {% endblock %}

        </div>
    </div><!--/row-->

</div><!--/.container-->
<footer>
    <hr>
    <p>版权所有 © 中国科学院信息工程研究所　备案序号：京ICP备11011297号-1
        单位地址：北京市海淀区闵庄路甲89号　邮编：100093</p>
</footer>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'display/others/js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- Custom js for this template -->
<script src="{% static 'display/self_defined/js/home.js' %}"></script>

<!--将登录和退出前的页面url当作参数传递，以便登录和退出完成后回到原来的页面-->
<script>
    var next_href = window.location.href;
    var url_logout = "{% url 'display:logout' %}";
    var url_login = "{% url 'display:getPage_signin' %}";
    url_logout = url_logout.concat("?next=",next_href);
    url_login = url_login.concat("?next=",next_href);

    $("#bt_logout").attr("href",url_logout);
    $("#bt_login").attr("href",url_login);
</script>

</body>
</html>
