<!--@author wychengpublic-->
{% extends "device_display/home.html" %}
{% load static %}

{% block main_container %}
<!--使用自定义的翻页组件必须的两个隐藏input，用于存储当前的页码和页码总数-->
<input type="hidden" name="input_page_index" value="{{ page_index }}">
<input type="hidden" name="input_page_total" value="{{ page_total }}">

<!--包含显示日志的table-->
{% include "device_display/log_table.html" %}
<!--包含翻页组件-->
{% include "device_display/pagination.html" %}

<script src="{% static 'display/self_defined/js/managelog.js' %}"></script>
{% endblock %}

