<!--@author wychengpublic-->
{% extends "device_display/home.html" %}

{% block main_container %}

<input type="hidden" name="input_page_total" value="9">
<input type="hidden" name="input_page_index" value="3">

{% include "device_display/log_table.html" %}

{% include "device_display/pagination.html" %}

<script>
    function after_click_page() {

    }
    //设置导航栏的元素active切换
    $(document).ready(
        function () {
            $("li.nav_li").attr("class", "nav_li");
            $("li#nav_log").addClass("active");

            var input_page_total = $("input[name= 'input_page_total']");
            var input_page_index = $("input[name= 'input_page_index']");

            adjust_pages(input_page_total,input_page_index,after_click_page);
        }
    );
</script>
{% endblock %}

