{% load staticfiles %}

<div style="text-align: center">
    <ul class="pagination">
        <!--<li><a>&laquo;</a></li>-->
        <!--<li><a>1</a></li>-->
        <!--<li><a>2</a></li>-->
        <!--<li><a>3</a></li>-->
        <!--<li><a>4</a></li>-->
        <!--<li><a>5</a></li>-->
        <!--<li><a>6</a></li>-->
        <!--<li><a>7</a></li>-->
        <!--<li><a>8</a></li>-->
        <!--<li><a>9</a></li>-->
        <!--<li><a>10</a></li>-->
        <!--<li><a>&raquo;</a></li>-->
    </ul>
</div>

<script src="{% static 'display/self_defined/js/pagination.js' %}"></script>