<!--@author wychengpublic-->
{% extends "device_display/home.html" %}
{% load static %}

{% block js_head %}
<!--引入v-charts所需的js文件-->
<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/echarts/dist/echarts.min.js"></script>
<script src="//unpkg.com/v-charts/lib/index.min.js"></script>
{% endblock %}

{% block main_container %}
<div style="background-color: #ffffff">
    <div id="histogram">
        <ve-histogram :data="chartData" :settings="chartSettings"></ve-histogram>
    </div>
    <br>
    <div id="brands_model_pie">
        <ve-pie :data="chartData" :settings="chartSettings"></ve-pie>
    </div>
    <br>
    <div id="brands_fingerprint_pie">
        <ve-pie :data="chartData" :settings="chartSettings"></ve-pie>
    </div>
</div>

<script src="{% static 'display/self_defined/js/statistics.js' %}"></script>
{% endblock %}