<style>
    .table-responsive {
        margin-top: 15px;
        background-color: #5e5e5e;
        color: #ffffff;
    }
    .table-responsive a{
        color: #ffffff;
    }
    .table-responsive tbody tr:nth-of-type(2n+1){
        color: #333333;
    }
    .table-responsive tbody tr:nth-of-type(2n+1) a{
        color: #333333;
    }
    .table-responsive table{
        margin-bottom: 0px;
    }
    .table-responsive {
        overflow: visible;
    }
    .table-responsive th,td{
        text-align: center;
    }
    .table-responsive .checkbox_par {
        text-align: left;
    }
</style>
<div class="table-responsive">
    <table class="table table-striped" >
        <thead>
            {% block thead %}
            {% endblock %}
        </thead>
        <tbody>
            {% block tbody %}
            {% endblock %}
        </tbody>
    </table>
</div>
