<form role="form" class="pane_edit">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-8 icon_btns" style="text-align: right">
            <button type="button" class="btn btn-default btn-sm" id="uploader_browse">
                <span class="glyphicon glyphicon-plus"></span> 添加文件
            </button>
            <button type="button" class="btn btn-default btn-sm" id="remove_files">
                <span class="glyphicon glyphicon-minus"></span> 移除文件
            </button>
            <button type="button" class="btn btn-default btn-sm" id="uploader_start">
                <span class="glyphicon glyphicon-open"></span> 导入
            </button>
        </div>
    </div>
</form>

{% extends "device_display/table_selfdefined.html" %}

{% block table%}
<form role="form" method="post" action="{% url 'display:upload_file' %}" enctype="multipart/form-data"
      class="form_upl_files">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="checkbox_par">
                    <input type="checkbox" style="margin-right: 5px" data-check-all="true">全选
                </th>
                <th>文件</th>
            </tr>
        </thead>
        <tbody>
            <button type="submit" class="btn_upl_file" hidden></button>
        </tbody>
    </table>
</form>
{% endblock %}


