<form role="form" class="pane_edit" >
    <div class="row" >
        <div class="col-sm-4 col-sm-offset-8 icon_btns" style="text-align: right">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span> 添加文件
            </button>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-minus"></span> 删除文件
            </button>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-open"></span> 上传
            </button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>
                    <input type="checkbox" style="margin-right: 5px">全选
                </th>
                <th>序号</th>
                <th>数据来源</th>
                <th>数据分类</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" >
                </td>
                <td>1</td>
                <td>文件名1.doc</td>
                <td>类型/型号</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" >
                </td>
                <td>2</td>
                <td>文件名2.txt</td>
                <td>品牌</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" >
                </td>
                <td>3</td>
                <td>文件名3.cvs</td>
                <td>型号</td>
            </tr>
        </tbody>
    </table>
</div>