<!--@author wychengpublic-->

{% extends "device_display/home.html" %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'display/self_defined/css/update.css' %}" rel="stylesheet">
{% endblock %}

{% block main_container %}
{% include "device_display/logo.html" %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#panel_crawl" data-toggle="tab">网站爬取</a></li>
    <li><a href="#panel_upload" data-toggle="tab">文件导入</a></li>
    <li><a href="#panel_upd_rcd" data-toggle="tab">更新记录</a></li>
</ul>
<input id="nav_text" type="hidden" value="{{ status }}">
<div class="tab-content">
    <div class="tab-pane in fade active" id="panel_crawl">
        {% include "device_display/update_crawl.html" %}
    </div>
    <div class="tab-pane active fade" id="panel_upload">
        {% include "device_display/update_upload.html" %}
    </div>
    <div class="tab-pane active fade" id="panel_upd_rcd">
        {% include "device_display/update_upd_rcd.html" %}
    </div>
</div>

<script src="{% static 'display/self_defined/js/update.js' %}"></script>
{% endblock %}