<form role="form" class="pane_edit" >
    <div class="row" >
        <div class="col-sm-4 col-sm-offset-8 icon_btns" style="text-align: right">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-backward"></span> 回退
            </button>
        </div>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-striped" >
        <thead>
            <tr>
                <th>
                    <input type="checkbox" style="margin-right: 5px">全选
                </th>
                <th>序号</th>
                <th>数据来源</th>
                <th>数据分类</th>
                <th>爬取/上传时间</th>
                <th>更新时间</th>
                <th>记录数量</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" >
                </td>
                <td>1</td>
                <td>中关村在线</td>
                <td>类型/型号</td>
                <td>2017-10-2 15:44:56</td>
                <td>2017-10-3 15:44:56</td>
                <td>123</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" >
                </td>
                <td>2</td>
                <td>文件名2.txt</td>
                <td>品牌</td>
                <td>2017-10-2 15:44:56</td>
                <td>2017-10-3 15:44:56</td>
                <td>123</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" >
                </td>
                <td>3</td>
                <td>文件名3.cvs</td>
                <td>型号</td>
                <td>2017-10-2 15:44:56</td>
                <td>2017-10-3 15:44:56</td>
                <td>123</td>
            </tr>
        </tbody>
    </table>
</div>