<!--@author wychengpublic-->

{% extends "device_display/home.html" %}
{% load staticfiles %}
{% block css %}
<link href="{% static 'display/self_defined/css/update.css' %}" rel="stylesheet">
{% endblock %}

{% block main_container %}
{% include "device_display/logo.html" %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#panel_crawl" data-toggle="tab">网站爬取</a></li>
    <li><a href="#panel_upload" data-toggle="tab">文件导入</a></li>
    <li><a href="#panel_upd_rcd" data-toggle="tab">更新记录</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane in fade active" id="panel_crawl">
        {% include "device_display/update_crawl.html" %}
    </div>
    <div class="tab-pane active fade" id="panel_upload">
        {% include "device_display/update_upload.html" %}
    </div>
    <div class="tab-pane active fade" id="panel_upd_rcd">
        {% include "device_display/update_upd_rcd.html" %}
    </div>
</div>
<script>
    $(document).ready(
        function () {
            $("li.nav_li").attr("class", "nav_li");
            $("li#nav_update").addClass("active");

            // 初始化源网站列表
            var url_website = "{% url 'display:get_srcweb_list' %}";
            $.get(url_website,
            function (data,status) {
                if(status === "success")
                {
                    var tbody = $("div#panel_crawl table tbody");
                    tbody.empty();
                    var result_json = eval('(' + data + ')');
                    for (web_ind in result_json){
                        add_row_crawl(web_ind,result_json[web_ind].id,
                            result_json[web_ind].name,result_json[web_ind].website,result_json[web_ind].cycle);
                    }

                    // 给源网站下拉框添加选择变更事件
                    on_adjust_circle();
                }else {
                    alert("获取源网站列表请求失败了");
                }
            });
            // 初始化更新日志列表
            var url_updrcd = "{% url 'display:get_updrcd_list' %}";
            $.get(url_updrcd,
                {"page": "1"},
            function (data,status) {
                if(status === "success")
                {
                    var tbody = $("div#panel_upd_rcd table tbody");
                    tbody.empty();
                    var result_json = eval('(' + data + ')');
                    for (rcd_ind in result_json){
                        add_row_upd_rcd(rcd_ind, result_json[rcd_ind].id,
                            result_json[rcd_ind].data_src_name, result_json[rcd_ind].upd_time,
                            result_json[rcd_ind].type_num, result_json[rcd_ind].brand_num, result_json[rcd_ind].model_num);
                    }

                    // 给回退按钮添加点击事件
                    btn_recall_click();
                }else {
                    alert("获取更新日志列表请求失败了");
                }
            });
        }
    );

    // 添加一条源网站表格行
    function add_row_crawl(serial_num,web_id,web_name,website,cycle) {
        var tbody = $("div#panel_crawl table tbody");
        var row = $('<tr data-website-id="' +web_id+ '">' +
                        '<td>' + serial_num + '</td>' +
                        '<td><a target="_blank" href="' +website+ '">' + web_name + '</a></td>' +
                        '<td>' +
                            '<select class="selectpicker show-tick form-control" name="circle"' +
                                    'data-width="98%" data-first-option="false" required>' +
                                '<option value="1">1个月</option>' +
                                '<option value="2">2个月</option>' +
                                '<option value="3">3个月</option>' +
                                '<option value="6">6个月</option>' +
                                '<option value="12">1年</option>' +
                            '</select>' +
                        '</td>' +
                    '</tr>');

        var circle_sp = row.find("select.selectpicker");
        circle_sp.selectpicker('val',cycle);// 设置默认选项

        tbody.append(row);
        // select2动态加元素需要刷新
        circle_sp.selectpicker('render');
        circle_sp.selectpicker("refresh");
    }

    // 增加一行文件（上传）导入表格行
    function add_row_upload(serial_num,file_name,file_path,category) {
        var tbody = $("div#panel_upload table tbody");
        var row = $('<tr>' +
                        '<td>' +
                            '<input type="checkbox" data-file-path=' + file_path + '>' +
                        '</td>' +
                        '<td>'+ serial_num +'</td>' +
                        '<td> + file_name + </td>' +
                        '<td> + category + </td>' +
                    '</tr>');

        tbody.append(row);
    }

    // 新增一条更新记录表格行
    function add_row_upd_rcd(serial_num,upd_rcd_id,data_src,upd_time,type_num,brand_num,model_num) {
        var tbody = $("div#panel_upd_rcd table tbody");
        var row = $('<tr data-updrcd-id="' +upd_rcd_id+ '">' +
                        '<td>' +
                            '<input type="checkbox">' +
                        '</td>' +
                        '<td>' + serial_num + '</td>' +
                        '<td>' + data_src + '</td>' +
                        '<td>' + upd_time + '</td>' +
                        '<td>' + type_num + '</td>' +
                        '<td>' + brand_num + '</td>' +
                        '<td>' + model_num + '</td>' +
                        '<td>' +
                            '<button type="button" class="btn btn-sm btn-primary btn_recall">回退</button>' +
                        '</td>' +
                    '</tr>');

        tbody.append(row);
    }

    // 给源网站更新周期的下拉框添加选择改变事件
    function on_adjust_circle() {
        var circle_select = $("select.selectpicker[name = 'circle']");
        circle_select.on("changed.bs.select",function () {
            var new_circle = $(this).selectpicker("val");
            var web_id = $(this).parents("tr").data("websiteId");

            var url_adj_circle = "{% url 'display:adjust_upd_circle' %}";
            $.post(url_adj_circle,
                {"new_circle": new_circle,
                 "web_id": web_id},
                function (data, status) {
                    if(status === "success"){
                        alert("调整周期请求成功");
                    }else {
                        alert("调整周期请求失败");
                    }
                });
        });
    }
    // 给回退按钮添加点击事件
    function btn_recall_click() {
        var btn_recall = $("button.btn_recall");
        btn_recall.on("click",function () {
            var rcd_id = $(this).parents("tr").data("updrcdId");
            var rcd_id_list = [rcd_id,];
            var url_recall_upd = "{% url 'display:recall_upd' %}";

            $.post(url_recall_upd,
                {"upd_id_list_str": JSON.stringify(rcd_id_list)},
            function (data, status) {
                if(status === "success"){
                    alert("更新回退请求成功");
                }else {
                    alert("更新回退请求失败");
                }
            });
        });
    }
</script>

{% endblock %}