#search-group {
    margin: 0px auto 10px;
}

#div_input {
    padding: 0px 0px;
}

#div_input input {
    height: 36px;
    background-color: transparent;
    color: #fff;
}

#div_btn button {
    height: 36px;
    font-size: 15px;
}

#result_info {
    margin: 10px auto;
    color: #8c8c8c;
}

#results_container {
    max-height: none;
}

#results_container button.managers{
    color: #fff;
    background-color: transparent;
    border: 0px;
    font-size: 15px;
}

#results_container .chk_all {
    color: #fff;
    font-size: 15px;
}

#results_container .chk_all input {
    margin-right: 10px;
}

.nav-tabs a {
    color: #fff;
}

.nav-tabs a:hover {
    color: #555;
}

.group_gray {
    background-color: #5e5e5e;
}

.form-control_self {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover{
    color: #333333;
}
div#add_editor_type
,div#add_editor_brand
,div#add_editor_model
,div#add_editor_fingerprint
,div#add_editor_category {
    background: #333333;
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 15px;
}