#search-group {
    margin: 0px auto 200px;
}

#div_input{
    padding: 0px 15px;
}
#div_input input{
    height: 36px;
    background-color: transparent;
    color: #fff;
}

#div_btn {
    padding-left: 0px;
}
#div_btn button {
    height: 36px;
    font-size: 15px;
}


